<div class="d-flex justify-content-center" style="font-weight: 800;"> Total Acheté : {{total}}</div>
<br>
<div *ngFor="let book of books">
    <app-book-details (achat)="incrementer($event)" [image]="book.img" [title]="book.name" [author]="book.author" [qte]="book.quantity"></app-book-details>
</div>












































<!-- 
<div class="card d-flex justify-content-center" style="float:left; display:inline; width: 33%;">
    <div class="card-body ">
        <h5 class="card-title d-flex justify-content-center">{{book.name}}</h5>
        <div class="d-flex justify-content-center">
            <img class="" style="height: 300px;width:300px" src="{{book.img}}" alt="">

        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">by {{book.author}}</li>
    </ul>
    <div class="card-body">
        <div class="row">
            <div class="col"> <a (click)="acheter()" class="card-link pointer">Acheter</a>            </div>
            <div style="font-weight: 800;" class="col d-flex justify-content-end">Quantite : {{book.quantity}}</div>
        </div>
    </div>
</div> -->